<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_bookmarks" xml:lang="gl">
  <info>
    <link type="next" xref="commands_live_regions"/>
    <link type="guide" xref="commands#reviewing_screen_contents"/>
    <link type="seealso" xref="howto_bookmarks"/>
    <title type="sort">4. Bookmarks</title>
    <title type="link">Bookmarks</title>
    <desc>
      Commands to bookmark and retrieve objects
    </desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Ordes dos marcadores</title>
  <p>
    <app>Orca</app> provides several commands which can be used to "bookmark"
    a given object for the purpose of navigating back to it later. Most of
    these commands are "bound" to keystrokes. Please see
    <link xref="howto_key_bindings">Modifying Keybindings</link>
    for information on how to bind unbound commands.
  </p>
  <list>
    <item>
      <p>
        Save a bookmark to the numbered slot: <keyseq><key>Orca Modifier</key>
        <key>Alt</key><key>1</key></keyseq>-<key>6</key>
      </p>
    </item>
    <item>
      <p>
        Save the defined bookmarks for the application or page:
        <keyseq><key>Orca Modifier</key><key>Alt</key><key>B</key></keyseq>
      </p>
    </item>
    <item>
      <p>
        Go to a specific, numbered bookmark: <keyseq><key>Orca Modifier</key>
        <key>1</key></keyseq>-<key>6</key>
      </p>
    </item>
    <item>
      <p>
        Go to the previous bookmark for the application or page:
        <keyseq><key>Orca Modifier</key><key>Shift</key><key>B</key>
        </keyseq>
      </p>
    </item>
    <item>
      <p>
        Go to the next bookmark for the application or page:
        <keyseq><key>Orca Modifier</key><key>B</key></keyseq>
      </p>
    </item>
    <item>
      <p>
        "Where am I" information for this bookmark relative to the current
        pointer location: (Unbound)
      </p>
    </item>
  </list>
</page>
