<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_speech_settings" xml:lang="gl">
  <info>
    <link type="next" xref="commands_braille"/>
    <link type="guide" xref="commands#speech_braille"/>
    <link type="seealso" xref="preferences_speech"/>
    <title type="sort">2. Speech Settings</title>
    <title type="link">Speech</title>
    <desc>
      Commands for customizing <app>Orca</app>'s output
    </desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Speech Settings Commands</title>
  <p>
    The following commands can be used to customize <app>Orca</app>'s
    speech output. You will notice that a number of these commands are
    "unbound." Please see <link xref="howto_key_bindings">Modifying
    Keybindings</link> for information on how to bind these commands
    to keystrokes.
  </p>
  <list>
    <item>
      <p>
        Enable/disable speech: <keyseq><key>Orca Modifier</key><key>S</key></keyseq>
      </p>
    </item>
    <item>
      <p>
        Toggle between cell and row reading in a table:
        <keyseq><key>Orca Modifier</key><key>F11</key></keyseq>
      </p>
    </item>
    <item>
      <p>
        Enable/disable speaking of indentation and justification: (Unbound)
      </p>
    </item>
    <item>
      <p>Cycle to the next spoken punctuation level: (Unbound)</p>
    </item>
    <item>
      <p>Cycle to the next key echo level: (Unbound)</p>
    </item>
    <item>
      <p>Cycle to the next capitalization style: (Unbound)</p>
    </item>
    <item>
      <p>Decrease the rate: (Unbound)</p>
    </item>
    <item>
      <p>Increase the rate: (Unbound)</p>
    </item>
    <item>
      <p>Decrease the pitch: (Unbound)</p>
    </item>
    <item>
      <p>Increase the pitch: (Unbound)</p>
    </item>
  </list>
</page>
