<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_profiles" xml:lang="gl">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_documents"/>
    <title type="sort">9. Profiles</title>
    <desc>Maintaining multiple configurations</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Perfiles</title>
  <p>
    Orca's profiles allow you to save and load multiple configurations so
    that you can quickly access the settings you need.
  </p>
  <steps>
    <title>Gardar un novo perfil</title>
    <item>
      <p>
        Get into the <link xref="preferences">Orca Preferences</link> dialog box.
      </p>
    </item>
    <item>
      <p>Change whatever settings you wish.</p>
    </item>
    <item>
      <p>
        On the <gui>General</gui> page, press the <gui>Save As</gui> button.
      </p>
    </item>
    <item>
      <p>
        Type the new profile name in the resulting <gui>Save Profile As</gui>
        dialog box.
      </p>
    </item>
    <item>
      <p>
        Press the <gui>OK</gui> button in the <gui>Save Profile As</gui>
        dialog box.
      </p>
    </item>
  </steps>
  <steps>
    <title>Loading an Existing Profile</title>
    <item>
      <p>
        Get into the <link xref="preferences">Orca Preferences</link> dialog box.
      </p>
    </item>
    <item>
      <p>
        On the <gui>General</gui> page, select the profile to load from the
        <gui>Active Profile</gui> combo box.
      </p>
    </item>
    <item>
      <p>Press the <gui>Load</gui> button.</p>
    </item>
    <item>
      <p>
        You will be asked to confirm. Press the <gui>Yes</gui> button.
      </p>
    </item>
    <item>
      <p>Press the <gui>OK</gui> button.</p>
    </item>
  </steps>
  <steps>
    <title>Changing an Existing Profile</title>
    <item>
      <p>
        Follow the steps described above to load the profile you wish to change.
      </p>
    </item>
    <item>
      <p>Follow the steps described above to save a new profile.</p>
    </item>
    <item>
      <p>
        When prompted for the new profile name, type the same name as current
        profile. When you press the <gui>OK</gui> button, you will be told there
        is a name conflict.
      </p>
    </item>
    <item>
      <p>
        Press the <gui>Yes</gui> button to confirm you wish to overwrite the
        existing profile with the new settings.
      </p>
    </item>
  </steps>
  <steps>
    <title>Changing the <gui>Start-up Profile</gui></title>
    <item>
      <p>
        Get into the <link xref="preferences">Orca Preferences</link> dialog box.
      </p>
    </item>
    <item>
      <p>
        On the <gui>General</gui> page, select the profile to load from the
        <gui>Start-up Profile</gui> combo box.
      </p>
    </item>
    <item>
      <p>Press the <gui>OK</gui> button. The next time you launch <app>Orca</app>,
         the newly-selected profile will be used.
      </p>
    </item>
  </steps>
</page>
