<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_general" xml:lang="gl">
  <info>
    <title type="sort">1. General</title>
    <title type="link">General</title>
    <desc>Configurar os comportamentos fundamentais de <app>Orca</app></desc>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_voice"/>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Preferencias xerais</title>
  <section id="keyboardlayout">
    <info>
      <desc>
        Preferences dialog box option to select which <app>Orca</app> keyboard
        layout to use, desktop or laptop.
      </desc>
    </info>
    <title>Disposición do teclado</title>
    <p>
      The <gui>keyboard layout</gui> radio button group allows you to specify if
      you will be working on a desktop (i.e. with a numeric keypad) or laptop
      keyboard. Which layout you choose will determine both the <key>Orca
      Modifier</key> as well as a number of keyboard shortcuts for performing
      <app>Orca</app> commands.</p>
    <p>Valor predeterminado: <gui>Escritorio</gui></p>
  </section>
  <section id="presenttooltips">
    <info>
      <desc>
        Preferences dialog box option to enable presentation of tooltips which
        appear as the result of mouse hovering.
      </desc>
    </info>
    <title>Present Tooltips</title>
    <p>
      When checked, this option will tell <app>Orca</app> to present information
      about tooltips when they appear as the result of mouse hovering. Specific
      actions to force tooltips to appear, such as pressing <keyseq>
      <key>Ctrl</key><key>F1</key></keyseq> when an object has focus, will
      always result in tooltips being presented, regardless of this setting.
    </p>
    <p>Valor predeterminado: non marcado</p>
  </section>
  <section id="objectundermouse">
    <info>
      <desc>
        Preferences dialog box option to enable presentation of the object
        under the mouse pointer.
      </desc>
    </info>
    <title>Falar o obxecto embaixo do rato</title>
    <p>
      When checked, this option will tell <app>Orca</app> to present
      information about the object under the mouse pointer as you move
      it around the screen using <app>Orca</app>'s
      <link xref="howto_mouse_review">Mouse Review</link> feature.
    </p>
    <p>Valor predeterminado: non marcado</p>
  </section>
  <section id="timeanddate">
    <info>
      <desc>
        Preferences dialog box options for customizing the time and date
        formats used by <app>Orca</app>.
      </desc>
    </info>
    <title>Formato de hora e formato de data</title>
    <p>
      The <gui>Time Format</gui> and <gui>Date Format</gui> combo boxes allow
      you to specify how <app>Orca</app> will speak and braille the time and the
      date.
    </p>
    <p>
      Default value: use the system locale's format for each
    </p>
  </section>
  <section id="profiles">
    <info>
      <desc>
        Preferences dialog box options for managing settings profiles.
      </desc>
    </info>
    <title>Perfiles</title>
    <p>
      The <gui>Profiles</gui> group of controls, which appear at the bottom
      of the <gui>General</gui> page, make it possible for you to maintain
      and use multiple configurations. 
    </p>
   <list>
      <item>
        <p>
          The <gui>Active Profile</gui> combo box displays the current profile
          and allows you to select a different profile to load.
        </p>
      </item>
      <item>
        <p>
          The <gui>Load</gui> button will cause <app>Orca</app> to load the
          profile indicated in the <gui>Active Profile</gui> combo box.
        </p>
      </item>
      <item>
        <p>
          The <gui>Save As</gui> button allows you to save the current set of
          options from the preferences dialog box to a named profile.
        </p>
      </item>
      <item>
        <p>
          The <gui>Start-up Profile</gui> combo box allows you to select the
          profile which should be automatically loaded each time you launch
          <app>Orca</app>.
        </p>
      </item>
    </list>
  </section>
</page>
