<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_speech_settings" xml:lang="de">
  <info>
    <link type="next" xref="commands_braille"/>
    <link type="guide" xref="commands#speech_braille"/>
    <link type="seealso" xref="preferences_speech"/>
    <title type="sort">2. Spracheinstellungen</title>
    <title type="link">Sprache</title>
    <desc>Befehle zur Anpassung der Ausgabe von <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Befehle zu den Spracheinstellungen</title>
  <p>
    The following commands can be used to customize <app>Orca</app>'s
    speech output. You will notice that a number of these commands are
    "unbound." Please see <link xref="howto_key_bindings">Modifying
    Keybindings</link> for information on how to bind these commands
    to keystrokes.
  </p>
  <list>
    <item>
      <p>Sprachausgabe ein-/ausschalten: <keyseq><key>Orca-Zusatztaste</key><key>S</key></keyseq></p>
    </item>
    <item>
      <p>Umschalten zwischen zellen- und zeilenweisem Vorlesen in einer Tabelle: <keyseq><key>Orca-Zusatztaste</key><key>F11</key></keyseq></p>
    </item>
    <item>
      <p>
        Enable/disable speaking of indentation and justification: (Unbound)
      </p>
    </item>
    <item>
      <p>Cycle to the next spoken punctuation level: (Unbound)</p>
    </item>
    <item>
      <p>Cycle to the next key echo level: (Unbound)</p>
    </item>
    <item>
      <p>Cycle to the next capitalization style: (Unbound)</p>
    </item>
    <item>
      <p>Decrease the rate: (Unbound)</p>
    </item>
    <item>
      <p>Increase the rate: (Unbound)</p>
    </item>
    <item>
      <p>Decrease the pitch: (Unbound)</p>
    </item>
    <item>
      <p>Increase the pitch: (Unbound)</p>
    </item>
  </list>
</page>
