<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_debugging" xml:lang="de">
  <info>
    <link type="guide" xref="commands#troubleshooting"/>
    <title type="sort">1. Fehlerdiagnose</title>
    <title type="link">Fehlerdiagnose</title>
    <desc>Befehle zur Fehlerdiagnose</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Befehle zur Fehlerdiagnose</title>
  <p>
    You may be asked by the developers to provide some debugging information in
    order to help them identify the source of a problem you are experiencing.
    The following command is not "bound" to a keystroke. If you need to bind it,
    please see <link xref="howto_key_bindings">Modifying Keybindings</link>.
  </p>
  <list>
    <item>
      <p>Cycle to the next debug level: (Unbound)</p>
    </item>
  </list>
</page>
