<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_setting_up_orca" xml:lang="de">
<info>
  <link type="seealso" xref="preferences"/>
  <link type="guide" xref="index#getting_started"/>
  <link type="next" xref="howto_the_orca_modifier"/>
  <title type="sort">4. Orca-Konfiguration</title>
  <title type="link">Konfiguration</title>
    <desc><app>Orca</app> einrichten</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Orca-Konfiguration</title>
    <section id="configuring_orca">
      <p>Zur Konfiguration von <app>Orca</app>, können Sie eines der folgenden Verfahren verwenden:</p>
      <list>
        <item>
          <p>Rufen Sie den Dialog <link xref="preferences">Einstellungen</link> auf, indem Sie <keyseq><key>Orca-Taste</key><key>Leertaste</key> </keyseq> innerhalb einer zugänglichen Anwendung drücken.</p>
        </item>
        <item>
          <p>Rufen Sie <app>Orca</app> mit der Option <cmd>--text-setup</cmd> auf, um <app>Orca</app>'s <link xref="howto_text_setup">textorientierte Konfiguration</link> auszuführen.</p>
        </item> 
      </list>
    </section>
</page>
