<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_chat" xml:lang="es">
  <info>
    <link type="next" xref="commands_debugging"/>
    <link type="guide" xref="commands#accessing_dynamic_information"/>
    <link type="seealso" xref="preferences_chat"/>
    <title type="sort">2. Chat</title>
    <title type="link">Chat</title>
    <desc>Comandos que usar con clientes IM e IRC</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Comandos de Chat</title>
  <p>Los siguientes comandos se pueden usar para acceder a información en los clientes de mensajería instantánea y charla interactiva en internet soportados por <app>Orca</app>. Notará que varios de estos comandos están «sin asociar». Consulte <link xref="howto_key_bindings">Modificar asociaciones de teclas</link> para obtener más información sobre cómo asociar estos comandos a pulsaciones de teclas.</p>
  <list>
    <item>
      <p>Mostar los mensajes de chat anteriores: <keyseq><key>Modificador de Orca</key><key>F1</key></keyseq> mediante <key>F9</key></p>
    </item>
    <item>
      <p>Activar/desactivar anuncio del nombre de la sala con mensajes: (sin asociar)</p>
    </item>
    <item>
      <p>Activar/desactivar anuncio del estado del amigo que está escribiendo: (sin asociar)</p>
    </item>
    <item>
      <p>Activar/desactivar los historiales de salas específicas: (sin asociar)</p>
    </item>
  </list>
</page>
