<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_toggling_caps_lock" xml:lang="el">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_key_bindings"/>
    <title type="sort">7. Κεφαλαία στη διάταξη φορητού</title>
    <desc>Εναλλαγή όταν είναι ο <key>τροποποιητής Orca</key></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012, 2014</mal:years>
    </mal:credit>
  </info>
  <title>Κεφαλαία στη διάταξη φορητού</title>
  <p>Το Orca έχει δύο διατάξεις πληκτρολογίου: επιτραπέζια και φορητή. Η επιλεγόμενη διάταξη επιδρά στο ποιο πλήκτρο χρησιμοποιείται ως τροποποιητής Orca. Εάν χρησιμοποιείται τη διάταξη φορητού, η προεπιλογή του τροποποιητή Orca θα είναι <key>CapsLock</key>. Εάν χρησιμοποιείτε τη διάταξη φορητού του <app>Orca</app> και θέλετε να κλειδώσετε ή να ξεκλειδώσετε το <key>CapsLock</key>, μπορείτε να το κάνετε κάνοντας τα επόμενα βήματα:</p>
  <steps>
    <title>Εναλλαγή CapsLock σε διάταξη φορητού</title>
    <item>
      <p>Πατήστε την εντολή παράκαμψη, <keyseq><key>τροποποιητής Orca</key><key>BackSpace</key> </keyseq>, για να πείτε στο <app>Orca</app> ότι η επόμενη εντολή πρέπει να αγνοηθεί.</p>
    </item>
    <item>
      <p>Πατήστε <key>CapsLock</key> για εναλλαγή της κλειδωμένης κατάστασης της.</p>
    </item>
  </steps>
</page>
