<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_gecko" xml:lang="el">
  <info>
    <link type="guide" xref="preferences#application"/>
    <link type="next" xref="preferences_table_navigation"/>
    <title type="sort">1. Περιήγηση Gecko</title>
    <title type="link">Περιήγηση Gecko</title>
    <desc>Ρύθμιση της υποστήριξης του <app>Orca</app> για <app>Firefox</app> και <app>Thunderbird</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012, 2014</mal:years>
    </mal:credit>
  </info>
  <title>Προτιμήσεις περιήγησης Gecko</title>
  <section id="page_navigation">
    <title>Περιήγηση σελίδας</title>
    <p>Η ομάδα <gui>περιήγηση σελίδας</gui> των ελέγχων κάνει δυνατή την προσαρμογή της παρουσίασης του <app>Orca</app> και επιτρέπει την αλληλεπίδραση με κείμενο και άλλο περιεχόμενο.</p>
    <section>
      <title>Έλεγχος περιήγησης δρομέα</title>
      <p>Αυτό το πλαίσιο ελέγχου εναλλάσσει την περιήγηση δρομέα του <app>Orca</app> ενεργό/ανενεργό. Όταν είναι ενεργό, το <app>Orca</app> ελέγχει τον δρομέα καθώς μετακινείστε στη σελίδα· όταν είναι ανενεργό, η γηγενής περιήγηση δρομέα του Gecko είναι ενεργή.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
      <note style="tip">
        <title>Αυτή η ρύθμιση μπορεί να εναλλαχθεί άμεσα</title>
        <p>Για ενεργοποίηση εναλλαγής αυτής της ρύθμισης άμεσα χωρίς αποθήκευση της, χρησιμοποιήστε <keyseq><key>τροποποιητή Orca</key><key>F12</key></keyseq>.</p>
       </note>
    </section>
    <section>
      <title>Ενεργοποίηση δομικής περιήγησης</title>
      <p>Αυτό το πλαίσιο ελέγχου εναλλάσσει στο <app>Orca</app> τη <link xref="howto_structural_navigation">δομική περιήγηση</link> ενεργή/ανενεργή. Η δομική περιήγηση επιτρέπει την περιήγηση κατά στοιχεία όπως κεφαλίδες, σύνδεσμοι και πεδία φόρμας.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
      <note style="tip">
        <title>Αυτή η ρύθμιση μπορεί να εναλλαχθεί άμεσα</title>
        <p>Για ενεργοποίηση της εναλλαγής αυτής της ρύθμισης άμεσα χωρίς αποθήκευση της, χρησιμοποιήστε <keyseq><key>τροποποιητή Orca</key><key>Z</key></keyseq>.</p>
       </note>
    </section>
    <section>
      <title>Τοποθέτηση του δρομέα στην αρχή της γραμμής ενώ περιηγείστε κάθετα</title>
      <p>Εάν αυτό το πλαίσιο ελέγχου σημειωθεί, το <app>Orca</app> θα μετακινεί πάντοτε το δρομέα στην αρχή της γραμμής όταν το <app>Orca</app> ελέγχει το δρομέα και πατάτε πάνω ή κάτω βέλος για να διαβάσετε την προηγούμενη ή την επόμενη γραμμή. Εάν αυτό το πλαίσιο ελέγχου δεν σημειωθεί, το <app>Orca</app> θα προσπαθήσει να διατηρήσει τον δρομέα στην ίδια οριζόντια θέση καθώς περιηγείστε πάνω ή κάτω.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
    </section>
    <section>
      <title>Αυτόματη έναρξη εκφώνησης μια σελίδας όταν αρχίζει η φόρτωσή της</title>
      <p>Εάν αυτό το πλαίσιο ελέγχου σημειωθεί, το <app>Orca</app> θα εκτελέσει μια εκφώνηση όλων στη νεοανοιγμένη ιστοσελίδα ή μήνυμα.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη για Firefox· μη σημειωμένη για Thunderbird</p>
    </section>
  </section>
  <section id="table_options">
    <title>Επιλογές πίνακα</title>
    <note>
      <p>Για να μάθετε περισσότερα για τις επιλογές του <app>Orca</app> στην περιήγηση μέσα στους πίνακες, παρακαλούμε δείτε το <link xref="preferences_table_navigation">Προτιμήσεις περιήγησης πίνακα</link>.</p>
    </note>
  </section>
  <section id="find_options">
    <title>Επιλογές εύρεσης</title>
    <p>Η ομάδα ελέγχων <gui>επιλογών εύρεσης</gui> κάνει δυνατή την προσαρμογή παρουσίασης των αποτελεσμάτων από το <app>Orca</app> για μια αναζήτηση που έγινε χρησιμοποιώντας την ενσωματωμένη λειτουργικότητα αναζήτησης της εφαρμογής.</p>
    <section>
      <title>Εκφώνηση αποτελεσμάτων κατά την εύρεση</title>
      <p>Εάν αυτό το πλαίσιο ελέγχου σημειωθεί, το <app>Orca</app> θα διαβάσει τη γραμμή που συμφωνεί με το τρέχον ερώτημα αναζήτησης.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
    </section>
    <section>
      <title>Εκφώνηση μόνο των διαφοροποιημένων γραμμών κατά την αναζήτηση</title>
      <p>Εάν αυτό το πλαίσιο ελέγχου σημειωθεί, το <app>Orca</app> δεν θα παρουσιάσει την σύμφωνη γραμμή εάν είναι η ίδια γραμμή όπως η προηγούμενη συμφωνία. Αυτή η επιλογή σχεδιάστηκε για την αποφυγή "φλυαρίας" σε μια γραμμή με πολλαπλές περιπτώσεις της συμβολοσειράς η οποία αναζητείται.</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
    </section>
    <section>
      <title>Ελάχιστο μήκος του σύμφωνου κειμένου</title>
      <p>Αυτό το επεξεργάσιμο κουμπί ρύθμισης είναι εκεί που μπορείτε να ορίσετε τον αριθμό των χαρακτήρων με τους οποίους ταιριάζει πριν το <app>Orca</app> αναγγείλει τη σύμφωνη γραμμή. Αυτή η επιλογή σχεδιάζεται επίσης για αποφυγή "φλυαρίας" καθώς υπάρχουν πολλές συμφωνίες όταν πρωτοξεκινάτε την πληκτρολόγηση συμβολοσειράς αναζήτησης.</p>
      <p>Προεπιλεγμένη τιμή: 4</p>
    </section>
  </section>
</page>
