<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_speech" xml:lang="el">
  <info>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_braille"/>
    <title type="sort">2.1 Ομιλία</title>
    <title type="link">Ομιλία</title>
    <desc>Ρύθμιση των προφορικών</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012, 2014</mal:years>
    </mal:credit>
  </info>
  <title>Προτιμήσεις ομιλίας</title>
  <section id="enable_speech">
    <title>Ενεργοποίηση ομιλίας</title>
    <p>Το πλαίσιο ελέγχου <gui>ενεργοποίηση ομιλίας</gui> ελέγχει εάν το <app>Orca</app> θα χρησιμοποιήσει ή όχι τον συνθέτη ομιλίας. Οι χρήστες μόνο Μπράιγ θα θέλουν πιθανόν να αποσημειώσουν αυτό το πλαίσιο ελέγχου.</p>
    <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
  </section>
  <section id="verbosity">
    <title>Περιγραφικότητα</title>
    <p>Η ρύθμιση <gui>περιγραφικότητα</gui> καθορίζει την ποσότητα των πληροφοριών που θα εκφωνηθούν στις ποικίλες καταστάσεις. Για παράδειγμα, εάν οριστεί σε αναλυτικό και δείξετε μια λέξη με εσφαλμένη γραφή, το <app>Orca</app> θα αναγγείλει ότι η λέξη γράφτηκε λάθος. Όταν το επίπεδο ορίζεται σε σύντομο, αυτή η ανακοίνωση δεν θα γίνει.</p>
    <p>Προεπιλεγμένη τιμή: <gui>αναλυτικά</gui></p>
  </section>
  <section id="table_rows">
    <title>Γραμμές πίνακα</title>
    <p>Η ομάδα ραδιοπλήκτρων <gui>γραμμές πίνακα</gui> καθορίζει τι εκφωνείται κατά την περιήγηση μεταξύ γραμμών σε πίνακα. Οι διαθέσιμες επιλογές είναι <gui>εκφώνηση γραμμής</gui> και <gui>εκφώνηση κελιού</gui>.</p>
    <p>Θεωρήστε τη διεργασία εξέτασης της λίστας των μηνυμάτων στα εισερχόμενα. Για να ανακοινώσει το <app>Orca</app> τον αποστολέα, θέμα, ημερομηνία και παρουσία των συνημμένων θα χρειαστείτε <gui>εκφώνηση γραμμής</gui>. Από την άλλη, όταν περιηγείστε μεταξύ γραμμών στο υπολογιστικό φύλλο, η εκφώνηση της πλήρους γραμμής μπορεί να μην είναι επιθυμητή. Σε αυτήν την περίπτωση, το <gui>εκφώνηση κελιού</gui> θα μπορούσε να επιλεγεί στη θέση του.</p>
    <p>Προεπιλεγμένη τιμή: <gui>εκφώνηση γραμμής</gui></p>
  </section>
  <section id="punctuation_level">
    <title>Επίπεδο σημείου στίξης</title>
    <p>Η ομάδα ραδιοπλήκτρων <gui>επιπέδου στίξης</gui> χρησιμοποιείται για ρύθμιση της ποσότητας της ομιλούμενης στίξης από τον συνθέτη. Τα διαθέσιμα επίπεδα είναι <gui>κανένα</gui>, <gui>μερικό</gui>, <gui>υψηλό</gui> και <gui>όλα</gui>.</p>
    <p>Προεπιλεγμένη τιμή: <gui>υψηλό</gui></p>
    <section>
      <title>Κανένα</title>
      <p>Επιλέγοντας ένα επίπεδο στίξης <gui>κανένα</gui>, όπως θα περιμένατε, προκαλεί την μη εκφώνηση καμιάς στίξης. Σημειώστε, όμως, ότι ειδικά σύμβολα όπως αριθμοί ως δείκτες και εκθέτες, κλάσματα unicode και bullets εκφωνούνται σε αυτό το επίπεδο, αν και μερικοί μπορεί να θεωρήσουν αυτούς τους τύπους ως σύμβολα στίξης.</p>
    </section>
    <section>
      <title>Μερικό</title>
      <p>Επιλέγοντας ένα επίπεδο στίξης του <gui>μερικό</gui> προκαλεί όλα τα προμνημονευμένα σύμβολα να εκφωνούνται. Επιπλέον, το <app>Orca</app> θα εκφωνήσει γνωστά μαθηματικά σύμβολα, σύμβολα νομισμάτων, και τα "^", "@", "/", "&amp;", "#".</p>
    </section>
    <section>
      <title>Υψηλό</title>
      <p>Επιλέγοντας ένα επίπεδο στίξης του <gui>υψηλό</gui> προκαλεί όλα τα προμνημονευμένα σύμβολα να εκφωνούνται. Επιπλέον, το <app>Orca</app> θα εκφωνήσει όλα τα άλλα γνωστά σύμβολα στίξης, <em>πέρα από τα</em> "!", "'", ",", ".", "?".</p>
    </section>
    <section>
      <title>Όλα</title>
      <p>Επιλέγοντας ένα επίπεδο στίξης του <gui>όλα</gui>, όπως αναμένεται, προκαλεί το <app>Orca</app> να εκφωνήσει όλα τα γνωστά σύμβολα στίξης.</p>
    </section>
  </section>
  <section id="spoken_context">
    <title>Προφορικά συμφραζόμενα</title>
    <p>Τα παρακάτω στοιχεία ελέγχουν την παρουσίαση μιας ποικιλίας συμπληρωματικών, πληροφοριών "συστήματος" για το στοιχείο με εστίαση. Επειδή το συνδεμένο κείμενο δεν εμφανίζεται στην οθόνη, αυτή η πληροφορία εμφανίζεται στη φωνή συστήματος του <app>Orca</app>.</p>
    <section id="only_speak_displayed_text">
      <title>Εκφώνηση μόνο του εμφανιζόμενου κειμένου</title>
      <p>Σημειώνοντας αυτό το πλαίσιο ελέγχου προκαλεί στο <app>Orca</app> να εκφωνεί μόνο το ενεργό εμφανιζόμενο κείμενο στην οθόνη. Αυτή η επιλογή απευθύνεται κυρίως για χρήστες χαμηλής όρασης και χρήστες με δυσκολία οπτικής μάθησης.</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
      <note style="note">
        <p>Τα επόμενα στοιχεία δεν θα είναι διαθέσιμα για ρύθμιση εάν το πλαίσιο ελέγχου <gui>εκφώνηση μόνο του εμφανιζόμενου κειμένου</gui> σημειωθεί.</p>
      </note>
    </section>
    <section id="speak_blank_lines">
      <title>Εκφώνηση κενών γραμμών</title>
      <p>Εάν το πλαίσιο ελέγχου <gui>εκφώνηση κενών γραμμών</gui> σημειωθεί, το <app>Orca</app> θα εκφωνεί "κενό" κάθε φορά που δείχνετε μια κενή γραμμή. Εάν είναι ασημείωτο, το <app>Orca</app> δεν θα εκφωνήσει τίποτα όταν μετακινήστε σε μια κενή γραμμή.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
    </section>
    <section id="indentation_and_justification">
      <title>Εσοχή εκφώνησης και στοίχιση</title>
      <p>Όταν δουλεύετε με κώδικα ή επεξεργάζεστε άλλα έγγραφα είναι συχνά επιθυμητό να γνωρίζετε την στοίχιση και την εσοχή. Σημειώνοντας το πλαίσιο ελέγχου <gui>εκφώνηση εσοχής και στοίχισης</gui> θα προκαλέσει την αναγγελία αυτής της πληροφορίας από το <app>Orca</app>.</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
    </section>
    <section id="mnemonics">
     <title>Εκφώνηση μνημονικής αντικειμένου</title>
      <p>Εάν το πλαίσιο ελέγχου <gui>εκφώνηση μνημονικής αντικειμένου</gui> σημειωθεί, το <app>Orca</app> θα αναγγείλει τη συνδεμένη μνημονική με το αντικείμενο με εστίαση (όπως <keyseq><key>Alt</key><key>O</key> </keyseq> για ένα κουμπί <gui>Εντάξει</gui>).</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
    </section>
    <section id="child_position">
      <title>Εκφώνηση θέσης θυγατρικού</title>
      <p>Σημειώνοντας το πλαίσιο ελέγχου <gui>εκφώνηση θέσης θυγατρικού</gui> θα προκαλέσει την αναγγελία της θέσης του εστιασμένου στοιχείου στις λίστες μενού και δένδρων από το <app>Orca</app> (π.χ. "9 από 16").</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
    </section>
    <section id="speak_tutorial_messages">
      <title>Εκφώνηση μηνυμάτων μαθήματος</title>
      <p>Εάν το πλαίσιο ελέγχου <gui>εκφώνηση μηνυμάτων μαθήματος</gui> σημειωθεί, καθώς μετακινήστε μεταξύ αντικειμένων σε μια διεπαφή, το <app>Orca</app> θα παράσχει πρόσθετες πληροφορίες, όπως πώς να αλληλεπιδράσετε με το τρέχον εστιασμένο αντικείμενο.</p>
      <p>Προεπιλεγμένη τιμή: ασημείωτη</p>
    </section>
  </section>
  <section id="progress_bar_updates">
    <title>Ενημερώσεις γραμμής προόδου</title>
    <section>
      <title>Ενεργό</title>
      <p>Εάν το πλαίσιο ελέγχου <gui>ενεργό</gui> σημειωθεί το <app>Orca</app> θα εμφανίζει περιοδικά την κατάσταση των γραμμών προόδου.</p>
      <p>Προεπιλεγμένη τιμή: σημειωμένη</p>
    </section>
    <section>
      <title>Συχνότητα (s)</title>
      <p>Αυτό το κουμπί περιστροφής καθορίζει πόσο συχνά γίνεται η αναγγελία.</p>
      <p>Προεπιλεγμένη τιμή: 10</p>
    </section>
    <section>
      <title>Περιορισμός σε</title>
      <p>Αυτό το σύνθετο πλαίσιο επιτρέπει τον έλεγχο ποιες γραμμές προόδου θα εμφανίζονται, υποθέτοντας ότι η παρουσίαση των ενημερώσεων της γραμμής προόδου έχει ενεργοποιηθεί. Οι επιλογές είναι <gui>όλα</gui>, <gui>εφαρμογή</gui> και <gui>παράθυρο</gui>.</p>
      <p>Επιλέγοντας <gui>όλα</gui> θα καταλήξει στην παρουσίαση ενημερώσεων για όλες τις γραμμές προόδου από το <app>Orca</app>, ανεξάρτητα από πού εντοπιονται οι γραμμές προόδου.</p>
      <p>Επιλέγοντας <gui>εφαρμογή</gui> θα καταλήξει στην παρουσίαση ενημερώσεων από τις γραμμές προόδου στην ενεργή εφαρμογή από το <app>Orca</app>, ακόμα κι αν δεν είναι στο ενεργό παράθυρο.</p>
      <p>Επιλέγοντας <gui>παράθυρο</gui> θα καταλήξει στην παρουσίαση μόνο ενημερώσεων για τις γραμμές προόδου στο ενεργό παράθυρο από το <app>Orca</app>.</p>
      <p>Προεπιλεγμένη τιμή: <gui>εφαρμογή</gui></p>
    </section>
  </section>
</page>
